<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
      <access-list>
        <standard xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl">
          <name xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">24</name>
          <access-list-seq-rule>
            <sequence>10</sequence>
            <permit>
              <std-ace>
                <ipv4-prefix>140.160.244.141</ipv4-prefix>
              </std-ace>
            </permit>
          </access-list-seq-rule>
          <access-list-seq-rule>
            <sequence>20</sequence>
            <permit>
              <std-ace>
                <ipv4-prefix>140.160.244.241</ipv4-prefix>
              </std-ace>
            </permit>
          </access-list-seq-rule>
          <access-list-seq-rule>
            <sequence>30</sequence>
            <permit>
              <std-ace>
                <ipv4-prefix>10.245.1.20</ipv4-prefix>
              </std-ace>
            </permit>
          </access-list-seq-rule>
          <access-list-seq-rule>
            <sequence>40</sequence>
            <permit>
              <std-ace>
                <ipv4-prefix>10.245.1.21</ipv4-prefix>
              </std-ace>
            </permit>
          </access-list-seq-rule>
        </standard>
      </access-list>
    </ip>
  </native>
</config>